<div class="wrapper">

  <div class="top">
    <h1>All Restaurants</h1>
  </div>

  <div class="middle">
    <div class="cards">
      <% @restaurants.each do |restaurant| %>
        <div class="card-small">
          <%= image_tag "https://source.unsplash.com/200x200/?#{restaurant.category}-restaurant" %>
          <div class="card-small-info">
            <h2><%= restaurant.name %></h2>
            <p><em><%= restaurant.category %>&nbsp; // &nbsp;<%= restaurant.phone_number %> &nbsp; // &nbsp;<%= link_to 'Details', restaurant_path(restaurant) %></em></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="bottom">
    <%= link_to 'Add a Restaurant', new_restaurant_path, class: 'btn btn-success' %>
  </div>

</div>
