<div class="wrapper">

    <h1>Add a New Restaurant</h1>
  <div class="middle">
    <%= simple_form_for @restaurant do |f| -%>
      <%= f.input :name %>
      <%= f.input :address, html5: true %>
      <%= f.input :category, collection: Restaurant::CATEGORY, include_blank: false %>
      <%= f.input :phone_number %>
      <%= f.submit 'Add', class: 'btn btn-danger mt-2' %>
    <% end -%>
  </div>

</div>
