<div class="wrapper">
  <div class="top">
    <h1>Add a New Restaurant</h1>
  </div>
  <div class="middle">
    <%= simple_form_for @restaurant do |f| -%>
      <%= f.input :name %>
      <%= f.input :address, html5: true %>
      <%= f.input :category, collection: Restaurant::CATEGORY, include_blank: false %>
      <%= f.input :phone_number %>
      <%= f.submit 'Add', class: 'btn btn-success mt-2' %>
    <% end -%>
  </div>
  <div class="bottom">
    <%= link_to 'Back', restaurants_path, class: 'btn btn-success' %>
  </div>
</div>
