<div class="wrapper">
  <div class="middle">
    <div class="card-large" style="background-image: url('https://source.unsplash.com/600x600/?#{@restaurant.category}-restaurant');">
      <div class="card-large-info">
        <h2><%= @restaurant.name %></h2>
        <p><%= @restaurant.address %></p>
        <p><em><%= @restaurant.category %>&nbsp; // &nbsp;<%= @restaurant.phone_number %></em></p>
      </div>
    </div>
    <%= link_to 'Leave a Review', new_restaurant_review_path(@restaurant), class: 'btn btn-danger' %>
    <div class="reviews">
      <ul class="list-group">
        <% @restaurant.reviews.each do |review| %>
          <li class="list-group-item"><%= review.content %> &nbsp;// &nbsp;<%= review.rating %>/5</li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
